@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
body{
	background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/968/002/small/cute-abstract-modern-background-free-vector.jpg);
	background-size: cover;
}
p{
	font-size: 50px;
	color: hotpink;
	text-align: center;
	font-family: 'Rubik Dirt', cursive;
	text-shadow: 2px -2px red,  4px -4px grey;
}
ul,ol,dl{
	font-size: 24px;
	color: blue;
	list-style-position: outside;
	margin-left: 100px;
}
.cirle li::marker{
	color: brown;
	font-size: 1.5em;
	}

@counter-style circled-digist {
  system: cyclic;
  symbols: ◆ ◇;
  suffix: " ";
}

ul {
  list-style: circled-digist;
}