@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
body{
	background-color: skyblue;
}
p{
	font-size: 50px;
	color: grey;
	text-align: center;
	font-family: 'Rubik Dirt', cursive;
	text-shadow: 2px -2px white, 4px -4px darkblue;
}
table{
	border: double 5px white;
	font-size: 24px;
	width: 50%;
	border-collapse: separate;
	margin: auto;
}
th,td{
	border: solid 2px black;
	width: 25%;
	height: 1.5cm;
}
tr:hover{
	background-color: lightgray;
}
td:hover{
	background-image: url(https://media.tenor.com/KdtU9q5XTkEAAAAC/rainbow.gif);
	background-size: cover;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: pink;
	font-size: 1.5em;
}
tr:nth-child(odd){
	background-color: lightcoral;
}
tr:nth-child(even){
	background-color: lightcyan;
}
.f1{
	background-color: pink hotpink;
	text-align: right;
	vertical-align: bottom;
}
caption{
	font-size: 48px;
	color: #f0f;
	background: linear-gradient(to right, red, orange, yellow, green, blue, fuchsia);
}